:host {
  display: block;
  position: relative;

  .solid_v1 {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    cursor: pointer;
    position: relative;
    user-select: none;

    border-radius: 8px;
    background: rgba(228, 236, 251, 0.02);
    backdrop-filter: blur(8px);

    color: var(--neutral-300);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; /* 21px */

    transition: 0.1s ease-out;

    &.open {
      background: rgba(228, 236, 251, 0.04);
      color: var(--neutral-100);

      &:before {
        background: linear-gradient(
          to bottom,
          rgba(239, 239, 239, 0.04),
          rgba(239, 239, 239, 0.1)
        );
      }
    }

    &:hover:not(.open) {
      background: rgba(228, 236, 251, 0.03);
      color: var(--neutral-200);

      &:before {
        background: linear-gradient(
          to bottom,
          rgba(239, 239, 239, 0.02),
          rgba(239, 239, 239, 0.08)
        );
      }
    }
  }

  .solid_v2 {
    @extend .solid_v1;

    &.open {
      color: var(--primary-200);
    }

    &:hover {
      color: var(--primary-200);

      &:not(.open) {
        color: var(--primary-200);
      }

      .arrow {
        color: var(--neutral-200);
      }
    }

    .arrow {
      color: var(--neutral-300);

      &.up {
        color: var(--neutral-100);
      }
    }
  }

  .solid_v3 {
    @extend .solid_v1;

    text-transform: uppercase;

    border-radius: 16px;
  }

  .hide-arrow {
    .arrow {
      display: none !important;
    }
  }

  .arrow {
    margin-left: auto;

    color: var(--primary-200);

    transition: 0.1s ease-out;

    &.up {
      transform: rotate(180deg) translateY(1px);
    }
  }
}

.select-overlay-panel {
  display: flex;
  flex-direction: column;

  gap: 8px;

  border-radius: 8px;
  background: rgba(11, 12, 20, 0.1);
  box-shadow: 0px 0px 48px 0px rgba(205, 219, 248, 0.1) inset;
  backdrop-filter: blur(8px);

  padding: 12px;

  width: 100%;
  overflow: auto;
  position: relative;
  z-index: 1000;
}
