@use "mixin" as *;

:host {
  display: block;

  form {
    display: flex;
    align-items: center;
    gap: 8px;

    > div {
      position: relative;


      &:hover {
      }

      input {
        transition: 0.1s ease-out;

        border-radius: 8px;

        //backdrop-filter: blur(12px);
        background: rgba(228, 236, 251, 0.02);


        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--neutral-300);
        text-align: center;

        &:hover {
          background: rgba(228, 236, 251, 0.03);
          color: var(--neutral-200);
        }

        &:focus {
          background: rgba(228, 236, 251, 0.04);
          color: var(--neutral-100);
        }
      }
    }
  }

}
