:host {
  display: inline-flex;

  .toggle-wrapper {
    position: relative;
    min-width: 36px;
    height: 20px;
    border-radius: 100vw;
    cursor: pointer;

    transition: .1s ease-out;
    background: var(--neutral-900);

    &.active {
      background: var(--primary-600);
    }

    &:hover:not(.active) {
      background: var(--neutral-600);
    }
  }

  .toggle-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(10%, -50%);
    width: 16px;
    height: 16px;
    background-color: var(--neutral-50);
    border-radius: 50%;

    transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) .4s;

    z-index: 1;

    &:active {
      transform: translate(20%, -50%);
    }
  }

  .toggle-button.on {
    transform: translate(110%, -50%);
  }

  .on-off-icon {
    position: absolute;
    top: 50%;
    z-index: 0;
  }

  .toggle-on {
    left: 25%;
    width: 0;
    height: 10pt;
    transform: translate(-50%, -50%);
  }

  .toggle-off {
    right: 25%;
    height: 10pt;
    width: 10pt;
    border-radius: 50%;
    transform: translate(50%, -50%);
  }
}
