:host {
  display: flex;

  span.tooltip {
    position: static;

    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--neutral-50);

    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 48px 0 rgba(205, 219, 248, 0.1);
    background: rgba(11, 12, 20, 0.1);
    border-radius: 8px;

    padding: 8px 12px;
  }
}
