:host {
  display: block;
  position: relative;

  transform: translate(0, 4px);
  white-space: pre;

  &.relative {
    position: relative;
  }

  .block-error {
    display: flex;
    align-items: center;

    gap: 4px;

    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    overflow: hidden;
    transition: gap 200ms ease, margin 200ms ease, padding 200ms ease;

    p {
      color: #ffa2a2;
      line-height: 150%;
      font-weight: 500;
      letter-spacing: 0.4px;
      text-wrap: wrap;
    }
  }
}
