@use "mixin" as *;


:host {
  display: block;
  width: 100%;

  .textarea-container {
    position: relative;
    display: inline-flex;

    width: 100%;

    textarea {
      min-height: 232px;
    }
  }

  .custom-textarea {
    width: 100%;
    padding: 18px 24px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--neutral-300);

    border-radius: 8px;

    background: rgba(228, 236, 251, 0.02);

    resize: none;

  }

  .custom-resize-icon {
    position: absolute;
    right: 24px;
    bottom: 24px;

    cursor: se-resize;
  }


}
