<div class="textarea-container">
  <textarea #textarea class="custom-textarea" [style.max-width]="maxWidth" [style.width]="width"></textarea>
  <div class="custom-resize-icon" (mousedown)="startResize($event)">
    <svg
      width="16"
      height="15"
      viewBox="0 0 16 15"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="14"
        y="8"
        width="1"
        height="8"
        transform="rotate(45 14 8)"
        fill="#BDBDBD"
      />
      <rect
        x="13"
        y="2"
        width="1"
        height="16"
        transform="rotate(45 13 2)"
        fill="#BDBDBD"
      />
      <rect
        x="7"
        y="1"
        width="1"
        height="8"
        transform="rotate(45 7 1)"
        fill="#BDBDBD"
      />
    </svg>
  </div>
</div>
