@use "variables" as *;

app-button {
  position: relative;
  display: block;

  .text-center {
    p {
      margin: 0 auto;
    }
  }

  .solid_v1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 16px;
    border-radius: 8px;

    transition: .1s ease-out;
    background: var(--primary-600);

    gap: 12px;

    user-select: none;

    svg, p {
      transition: .1s ease-out;
    }

    svg {
      fill: var(--neutral-100);
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;

      color: var(--neutral-100);
    }

    &:hover {
      background: var(--primary-700);

      svg {
      }

      p {
        color: var(--neutral-100);
      }

      &:active {
        background: var(--primary-600);

        svg {
        }

        p {
          color: var(--primary-100);
        }
      }
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .solid_v2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.center {
      justify-content: center;
    }

    &.gap_12 {
      gap: 12px;
    }

    padding: 0 16px;
    border-radius: 8px;

    transition: .1s ease-out;
    background: rgba(91, 99, 211, 0.1);

    svg, p {
      transition: .1s ease-out;
    }

    svg {
      fill: var(--primary-400);
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: var(--primary-400);
    }

    &:hover:not(.active) {
      background: rgba(91, 99, 211, 0.16);

      svg {
        fill: var(--primary-300);
      }

      p {
        color: var(--primary-300);
      }

      &:active {
        background: rgba(91, 99, 211, 0.24);

        svg {
          fill: var(--primary-100);
        }

        p {
          color: var(--primary-100);
        }
      }
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .solid_v3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 8px;
    padding: 0 20px;

    backdrop-filter: blur(8px);
    background: rgba(205, 219, 248, 0.02);

    transition: .1s ease-out;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: var(--neutral-300);
    }

    &:hover:not(.active) {
      box-shadow: inset 0 0 48px 0 rgba(205, 219, 248, 0.06);
      background: rgba(205, 219, 248, 0.04);

      p {
        color: var(--neutral-200);
      }
    }

    &:hover:active, &.active {
      box-shadow: inset 0 0 48px 0 rgba(205, 219, 248, 0.12);
      background: rgba(205, 219, 248, 0.06);

      p {
        color: var(--neutral-100);
      }

      svg {
        fill: var(--primary-200);
      }
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  .solid_v4 {
    @extend .solid_v3;

    gap: 12px;

    @mixin btn_style($color) {
      background: rgba($color, 0.1);
      box-shadow: 0 0 6px 0 rgba($color, 0.1) inset;
      border-bottom: 1px solid rgba($color, 0.1);

      &:hover:not(.active) {
        border-bottom: 1px solid rgba($color, 0.14);
        background: rgba($color, 0.14);
        box-shadow: 0 0 6px 0 rgba($color, 0.14) inset;
      }

      &:hover:active, &.active {
        border-bottom: 1px solid rgba($color, 0.18);
        background: rgba($color, 0.18);
        box-shadow: 0 0 6px 0 rgba($color, 0.18) inset;
      }
    }

    padding: 0 16px;

    &.default {
      @include btn_style(rgb(205, 219, 248))
    }

    &.warn {
      @include btn_style(rgb(248, 205, 205))
    }

    &.accent {
      @include btn_style(rgb(205, 248, 230))
    }

    p {
      text-transform: capitalize;
      color: var(--neutral-200);
    }
  }

}
