<form [formGroup]="form"
      tuiForm="m"
>
  <tui-textfield
    iconStart="@tui.paperclip"
    tuiTextfieldSize="m"
  >
    <input
      tuiTextfield
      [placeholder]="'Enter name group'"
      formControlName="name"
    />
  </tui-textfield>

  <tui-textfield
    iconStart="@tui.code"
    tuiTextfieldSize="m"
  >
    <input
      tuiTextfield
      [placeholder]="'Enter URL/base64/text-config with configs'"
      formControlName="payload"
    />
    <tui-icon [tuiTooltip]="textFieldPayloadTooltip"/>
  </tui-textfield>

  <footer>
    <button
      appearance="secondary"
      tuiButton
      type="button"
    >
      Cancel
    </button>
    <button
      tuiButton
      type="submit"
    >
      Submit
    </button>
  </footer>
</form>

<ng-template #textFieldPayloadTooltip>
  <div>Valid data:</div>
  <br>
  <div>protocol://user_id@ip:port?...etc.</div>
  <hr class="tui-space_top-1 tui-space_bottom-1" />
  <div>I3Byb2ZpbGUtdGl0bGU6IGJhc...</div>
  <hr class="tui-space_top-1 tui-space_bottom-1" />
  <div>https://example.com/a.txt</div>
</ng-template>
