button.exul-button {
  user-select: none;

  --exul-button-bg: #ffc01f;
  --exul-button-color: #312934;
  --exul-button-border: none;
  --exul-button-hover-bg: #ffc01f;
  --exul-button-hover-color: #312934;
  --exul-button-active-bg: #ffc01f;
  --exul-button-active-color: #312934;

  --exul-button-radius: 8px;
  --exul-button-padding: 0;
  --exul-button-font-weight: 600;
  --exul-button-font-size: 16px;

  background: var(--exul-button-bg);
  color: var(--exul-button-color);
  border: var(--exul-button-border);
  border-radius: var(--exul-button-radius);
  padding: var(--exul-button-padding);
  font-weight: var(--exul-button-font-weight);
  font-size: var(--exul-button-font-size);
  cursor: pointer;
  transition: all 150ms;

  &:hover {
    transform: scale(1.02);

    &:active {
      transform: scale(0.98);
    }
  }

  &:disabled {
    opacity: 0.25;
  }
}

button.exul-button.exul-secondary {
  --exul-button-bg: rgba(148, 88, 224, 0.2);
  --exul-button-font-weight: 500;
  --exul-button-font-size: 16px;
  --exul-button-color: #fff;
  --exul-button-hover-bg: rgba(148, 88, 224, 0.3);
  --exul-button-hover-color: #fff;
  --exul-button-active-bg: rgba(148, 88, 224, 0.2);
  --exul-button-active-color: #fff;
}

button.exul-button.exul-outlined {
  --exul-button-bg: transparent;
  --exul-button-border: 1px solid var(--exul-button-bg-default, #1976d2);
}

button.exul-button.exul-text {
  --exul-button-bg: transparent;
  --exul-button-border: none;
}

button.exul-button:hover {
  background: var(--exul-button-hover-bg);
  color: var(--exul-button-hover-color);

  &:active {
    background: var(--exul-button-active-bg);
    color: var(--exul-button-active-color);
  }
}

.exul-currency-picker {
  --mat-form-field-filled-container-color: #1b121e;

  --mat-form-field-filled-label-text-color: #8f8f94;
  --mat-form-field-filled-focus-label-text-color: #8f8f94;
  --mat-form-field-filled-hover-label-text-color: #8f8f94;

  --mat-select-enabled-trigger-text-color: #ffffff;

  --mat-select-trigger-text-size: 16px;

  --mat-form-field-filled-with-label-container-padding-top: 28px;

  --mat-select-arrow-transform: translateY(-8px);
  --mat-form-field-container-height: 62px;

  &.mobile {
    --mat-select-trigger-text-size: 12px;
    --mat-form-field-filled-label-text-size: 12px;
    --mat-form-field-container-height: 36px;
    --mat-form-field-filled-with-label-container-padding-top: 10px;
    --mat-select-arrow-transform: translateY(-5px);

    .mdc-text-field--filled {
      border-radius: 10px;
    }
  }

  .mdc-text-field--filled {
    border-radius: 16px;
    border: 1px solid #ffc01f;
  }
}
.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  border-radius: 16px !important;
}
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  --mat-option-hover-state-layer-color: #231727;
}
div.mat-mdc-select-panel {
  --mat-select-panel-background-color: #1b121e;
  --mat-option-label-text-color: #fff;
  --mat-option-selected-state-layer-color: #231727;
  margin-top: 12px;
}
