//colors
$base-bg-color: #0D0D11;
$base-bg-accent-color: #1B121E;

$white-1: #FFF;

//dev
$white-09: rgba(255, 255, 255, 0.9);
$white-08: rgba(255, 255, 255, 0.8);
$white-075: rgba(255, 255, 255, 0.75);
$white-07: rgba(255, 255, 255, 0.7);
$white-05: rgba(255, 255, 255, 0.5);

$black-1: black;

//end dev

$base-accent-color: #FFC01F;


$red: #F44;
$red-light: #FF5353;

$success-accent: #007D7E;

$base-button-accent-color: #FFC01F;
$base-button-text-color: #312934;

$base-router-accent-color: #FFC01F;
$base-router-text-color: #312934;

$base-expansion-panel-text-color: #312934;


$base-text-accent-color: #FFCA43;
$base-border-color: #6563EE;
$base-svg-hover-color: #6563EE;

$base-chip-text-color: #8E8E92;

$base-bg-inputs: #1E1E25;
$passive-color-inputs: #5C5C5C;

$base-bg-hints: #1E1E25;
$base-bg-input-selector: #1E1D12;

$base-bg-social-icon: #151115;

$second-bg-input-selector: #161623;

$accent-color: #FFC01F;
$passive-color: #C2C2C3;
$positive-color: #31ED7C;

$second-passive-color: #1E1E25;
$triple-accent-color: #FF862E;

$base-rounded: 16px;
$base-padding: 16px;
$base-margin: 16px;
$base-gap: 16px;

// calendar
$calendar-base-bg: #FFF;
$calendar-base-bg-color-day: #F7F7F7;
$calendar-base-text-color-day: #181818;

//media
$breakpoint-tablet: 768px;


//admin
$adm-bg: #F6F6F8;

$adm-off-white: #28263a;

$adm-sidebar-bg-color: #00000000;
$adm-base-bg-block: #000000;

$adm-accent-bg-button: #007D7E;
$adm-accent-color-icon: #007D7E;

$adm-color-border: #242430;
$adm-color-bg-header: #00000000;

$adm-color-router-active: #2e2c45;

$adm-base-text-color: #b7a4f4;
$adm-passive-color: #5C5C5C;
$adm-accent-text-color: #FAA500;

$adm-separator-color: #E0E0E0;
