@use "variables" as *;

%centering {
  display: flex;
  align-items: center;
}

@mixin icon-style($icon-padding: 4px) {
  .icon {
    display: flex;
  }
}

@supports (-webkit-touch-callout: none) {
  app-text-field {
    > div.block-text-input * {
      backdrop-filter: none !important;
    }
  }
}

app-text-field {
  display: block;
  position: relative;

  &.flow {
    > div.block-text-input {
      width: min-content;
    }
  }

  > div.block-text-input {
    display: flex;

    > .solid_v1 {
      $icon-padding: 4px;

      @extend %centering;
      @include icon-style($icon-padding);

      gap: calc(16px - $icon-padding);

      backdrop-filter: blur(8px);
      background: rgba(27, 18, 30, 1);
      padding: 0 20px;
      border-radius: 16px;
      transition: .1s ease-out;

      @media(max-width: 1024px) {
        border-radius: 10px;
      }



      svg, input {
        transition: .1s ease-out;
      }

      svg {
        fill: var(--neutral-900);
      }

      input {
        flex: 1 0;

        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: var(--neutral-100);

        padding: 13px 0;

        &::placeholder {
          opacity: 1;
          color: var(--neutral-600);
        }
      }

      &:hover:not(.focus) {
        background: rgba(27, 18, 30, .75);

        input {
          color: var(--neutral-100);
        }

        svg {
          color: var(--neutral-100);
        }
      }

      &.focus {
        background: rgba(27, 18, 30, .75);

        input {
          color: var(--neutral-100);
        }

        svg {
          color: var(--neutral-100);
        }
      }

    }

    > .solid_v2 {
      $icon-padding: 4px;

      @include icon-style($icon-padding);

      @extend .solid_v1;

      outline: 1px solid var(--neutral-900);

      &:hover:not(.focus) {
        background: rgba(228, 236, 251, 0.03);
      }

      &.focus {
        background: rgba(228, 236, 251, 0.04);
      }
    }

    > .solid_v3 {
      $icon-padding: 4px;

      @extend %centering;
      @include icon-style($icon-padding);

      width: 100%;

      background: rgba(205, 219, 248, 0.1);

      gap: calc(16px - $icon-padding);

      backdrop-filter: blur(8px);
      padding: 0 calc(20px - $icon-padding);

      border-radius: 8px;

      transition: .1s ease-out;

      input {
        width: 100%;

        flex: 1 0;

        text-align: center;

        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        transition: .1s ease-out;

        color: var(--primary-200);

        &::placeholder {
          color: var(--neutral-400);
        }
      }
    }

    > .outline_v1 {
      $icon-padding: 4px;

      @extend %centering;
      @include icon-style($icon-padding);

      width: 100%;

      background: transparent;

      gap: calc(16px - $icon-padding);

      padding: 0 calc(20px - $icon-padding);

      border-radius: 12px;

      transition: .1s ease-out;

      border: 1px solid $base-accent-color;

      input {
        width: 100%;

        flex: 1 0;

        transition: .1s ease-out;

        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: $white-1;

        &::placeholder {
          color: $passive-color;
        }
      }
    }
  }

  &.hover {
    > div.block-text-input > .solid_v2 {
      background: rgba(228, 236, 251, 0.03);

    }
  }
}


