<div class="block-text-input" [class.error]="control.errors">
  <div [class]="className" [class.focus]="isFocused"
       appSize [width]="width" [height]="height"
       [style.padding]="styles.padding"
  >
    @if (icon_left) {
      <span class="icon" (click)="clickEventIconLeft.emit()">
        <ng-content select="[icon_left]"/>
      </span>
    }

    <ng-content/>

    @if (icon_right) {
      <span class="icon" (click)="clickEventIconRight.emit()" style="margin-left: auto">
        <ng-content select="[icon_right]"/>
      </span>
    }

  </div>
</div>

<ng-content select="[footer]"/>
