@use "mixin" as *;

:host {
  display: block;

  %default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;

    gap: 24px;

    padding: 20px;

    border-radius: 8px;
    background: rgba(228, 236, 251, 0.02);

    //backdrop-filter: blur(8px);

    transition: .1s ease-out;

    .title {
      display: flex;
      align-items: center;

      gap: 16px;

      width: 100%;

      > div {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: var(--primary-200);

        flex: 1;
      }
    }
  }


  .solid_v1 {
    @extend %default;

    &:hover {
      background: rgba(228, 236, 251, 0.04);
    }
  }

  .solid_v2 {
    @extend %default;

    box-shadow: inset 0 0 48px 0 rgba(205, 219, 248, 0.1);

    .title {
      align-items: flex-start;

      > div {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: var(--neutral-100);

        flex: 1;
      }
    }
  }

  .solid_v3 {
    @extend %default;

    background: rgba(228, 236, 251, 0.04);
    padding: 24px;

    gap: 48px;

    .title {
      gap: 24px;
    }

    &:hover {
      background: rgba(228, 236, 251, 0.06);
    }
  }

  .solid_v4 {
    @extend %default;

    &:hover {
      background: rgba(228, 236, 251, 0.03);
    }
  }

  .solid_v5 {
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(16px);
    background: rgba(205, 219, 248, 0.04);
    border-radius: 8px;

    padding: 18px;

    font-size: 14px;
    line-height: 100%;

    transition: .1s ease-out;

    div.title {
      display: flex;
      align-items: center;

      gap: 16px;

      font-weight: 500;
      color: var(--primary-200);

      > div {
        white-space: nowrap;
        font-size: 14px;
        line-height: 100%;
        color: var(--primary-200);
      }
    }

    font-weight: 400;
    color: var(--neutral-200);

    &:hover {
      backdrop-filter: blur(12px);
      background: rgba(228, 236, 251, 0.05);
    }
  }


  &.accent {
    .solid_v4 {
      background: rgba(143, 162, 234, 0.06);
    }
  }
}
