@if(configs$ | async; as data) {
  <table
      tuiTable
      class="table"
      [columns]="Object.keys(data[0])"
  >
      <thead>
          <tr tuiThGroup>
              <th
                  tuiTh
                  [resizable]="true"
              >
                Protocol
              </th>
              <th tuiTh>Address</th>
              <th tuiTh>User</th>
          </tr>
      </thead>
      <tbody
          tuiTbody
          [data]="data"
      >
        @for(item of data; track $index) {
        <tr tuiTr>
          <td
            *tuiCell="'settings'"
              tuiTd
          >
              {{ item.settings.address + ":" + item.settings.port }}
          </td>

          <td
            *tuiCell="'users'"
              tuiTd
          >
            @for(user of item.users; track $index) {
              {{ user?.id }}
            }
          </td>
        </tr>
        }
      </tbody>
  </table>
}
