:host {
  display: flex;

  hr {
    background: rgba(228, 236, 251, 0.06);
    flex: 1;

    &.vertical {
      width: auto;
      height: auto;
    }

    &.horizontal {
      height: auto;
    }
  }


}
