:host {
  display: flex;

  progress {
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    border-radius: 7px;
    background: rgba(205, 219, 248, 0.3);
    border: none;
  }

  progress::-webkit-progress-bar {
    background: rgba(205, 219, 248, 0.3);
  }

  progress::-webkit-progress-bar,
  progress::-webkit-progress-value {
    border-radius: 0px;
  }

  progress::-moz-progress-bar {
    border: none;
    background: var(--primary-200);
  }

  progress::-webkit-progress-value {
    border: none;
    background: var(--primary-200);
  }

}
