@use "mixin" as *;
@use "variables" as *;

%centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-chip {
  position: relative;
  display: block;

  width: fit-content;

  .text-nowrap {
    div {
      white-space: nowrap;
    }
  }

  .solid_v1 {
    @extend %centering;

    gap: 10px;

    transition: .1s ease-out;
    background: rgba(255, 192, 31, 0.15);

    padding: 4px 8px;
    border-radius: 8px;

    svg {
      color: $base-accent-color;
    }

    > div {
      display: flex;
      align-items: center;

      gap: 8px;

      font-weight: 400;
      line-height: 114%;
      color: #8e8e92;
    }

    //&:hover {
    //  background: rgba(205, 219, 248, 0.14);
    //}
  }
}
