:host {
  display: block;

  .option {
    display: flex;
    align-items: center;

    cursor: pointer;

    padding: 0 20px;
    height: 48px;

    border-radius: 8px;

    color: var(--neutral-300);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; /* 21px */

    transition: .1s ease-out;

    &:hover {
      background: rgba(205, 219, 248, 0.04);
      box-shadow: 0 0 48px 0 rgba(205, 219, 248, 0.06) inset;
      backdrop-filter: blur(8px);

      color: var(--neutral-200);
    }

    &.selected {
      background: rgba(205, 219, 248, 0.06);
      box-shadow: 0 0 48px 0 rgba(205, 219, 248, 0.12) inset;
      backdrop-filter: blur(8px);

      color: var(--neutral-100);
    }
  }


}
