<tui-scrollbar>
  <cdk-virtual-scroll-viewport
    #viewport
    appendOnly
    tuiScrollable
    class="viewport tui-zero-scrollbar"
    [itemSize]="1"
    [maxBufferPx]="500"
    [minBufferPx]="400"
  >
    <table
      tuiTable
      [columns]="columns"
    >
      <thead>
      <tr tuiThGroup>
        <th
          *tuiHead="'name'"
          tuiTh
          [resizable]="true"
          [sticky]="true"
        >
          Name
        </th>
        <th
          *tuiHead="'protocol'"
          tuiTh
          [resizable]="true"
          [sticky]="true"
        >
          Protocol
        </th>
        <th
          *tuiHead="'transport'"
          tuiTh
          [resizable]="true"
          [sticky]="true"
        >
          Transport
        </th>
        <th
          *tuiHead="'address'"
          tuiTh
          [resizable]="true"
          [sticky]="true"
        >
          Address
        </th>
      </tr>
      </thead>
      <tbody tuiTbody>
      <tr
        *cdkVirtualFor="let item of configs$ | async"
        tuiTr
      >
        <td
          *tuiCell="'name'"
          tuiTd
        >
          {{ (item.name_client ? item.name_client : 'Missing') | decodeUrl }}
        </td>
        <td
          *tuiCell="'protocol'"
          tuiTd
        >
          {{ item.protocol }}
        </td>
        <td
          *tuiCell="'transport'"
          tuiTd
        >
          {{ item.stream.network }}
        </td>
        <td
          *tuiCell="'address'"
          tuiTd
        >
          {{ item.settings.address + ":" + item.settings.port }}
        </td>
      </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</tui-scrollbar>
