:host {
  display: flex;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  //backdrop-filter: blur(24px);
  //background: rgba(11, 12, 20, 0.6);

  border-radius: 8px;

  z-index: 1000;

  > mat-spinner {
    margin: auto;
  }
}
