<header tuiNavigationHeader #header>
  <img ngSrc="assets/logo.webp" class="logo" alt="logotype" width="32" height="32"/>

  <span tuiNavigationLogo>
	        <span tuiFade>Luxnulla</span>
	        <tui-badge>v0.1</tui-badge>
  </span>

  <hr/>

  <button
    iconStart="@tui.bell"
    tuiIconButton
    type="button"
  >
    Notifications
    <tui-badge-notification/>
  </button>
</header>

<div [style.display]="'flex'">
  <aside
    [style.height]="`calc(100vh - 48px)`"
    [tuiNavigationAside]="expanded()"
  >
    <header>
      <button
        iconStart="@tui.home"
        tuiAsideItem
        type="button"
      >
        <span tuiFade>Dashboard</span>
      </button>
    </header>

    <tui-aside-group>
      <button
        automation-id="setting"
        iconStart="@tui.settings"
        tuiAsideItem
        tuiChevron
        type="button"
      >
        Settings
        <ng-template>
          <button
            tuiAsideItem
            type="button"
          >
            Account
          </button>
          <button
            tuiAsideItem
            type="button"
          >
            Notifications
          </button>
          <button
            tuiAsideItem
            type="button"
          >
            Privacy
          </button>
        </ng-template>
      </button>
    </tui-aside-group>
    <button
      automation-id="hint"
      iconStart="@tui.heart"
      tuiAsideItem
      type="button"
    >
      <span tuiFade>By default ellipsis is used but you can use fade too</span>
    </button>

    <hr/>
    <button
      iconStart="@tui.plus"
      tuiAsideItem
      type="button"
    >
      Add
    </button>
    <footer>
      <button
        iconStart="@tui.star"
        tuiAsideItem
        type="button"
      >
        Favorites
      </button>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="handleToggle()"
      >
        {{ expanded() ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>

  <main>
    <nav
      compact
      tuiSubheader
      [style.position]="'sticky'"
    >
      <tui-tabs>
        <a tuiTab>Default view</a>
        <a tuiTab>Contributors</a>
        <a tuiTab>Code</a>
      </tui-tabs>
    </nav>

    <div>
      <ng-content/>
    </div>
  </main>
</div>
