:host {
  display: flex;
  flex-direction: column;

  gap: 24px;

  width: 50dvw;
  max-width: 600px;

  padding: 32px;

  backdrop-filter: blur(8px);
  background: rgba(228, 236, 251, 0.04);
  border-radius: 8px;


  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.success {
      p {
        color: #88f186;
      }
    }

    &.error {
      p {
        color: #f8cdcd;

      }
    }

    .title {
      display: flex;
      align-items: center;

      gap: 16px;

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
      }
    }
  }

  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--neutral-200);
  }
}
