<tui-textfield
  iconStart="@tui.boxes"
  tuiChevron
  tuiTextfieldSize="m"
  [tuiTextfieldCleaner]="false"
>
  <input
    placeholder="Select a group"
    tuiSelect
    [(ngModel)]="value"
  />

  <tui-data-list-wrapper
    *tuiTextfieldDropdown
    new
    [items]="users"
  />

  @if (value) {
    <tui-icon
      icon="@tui.badge-check"
      style="color: var(--tui-status-info); pointer-events: none"
    />
  }

  <tui-icon tuiTooltip="This is a list of available groups. The groups contain configs"/>
</tui-textfield>
